<div id="<%= dom_id position %>">
  <p>
    <strong>Title:</strong>
    <%= position.title %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= position.info %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= position.available %>
  </p>

</div>
