<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <h1>Editing job position</h1>
    <%= link_to "Show this position", @position, class: "link-light" %> | <%= link_to "Back to index", positions_path, class: "link-light" %>
    <%= render "form", position: @position %>
  </div>
</div>
