<h1 class="text-center">Job Application System</h1>
<%= image_tag "https://placehold.co/800x600", class: "img-fluid d-block mx-auto my-5" %>
<div class="text-center">
    <%= link_to 'Go to job positions index', positions_path, class:"btn btn-lg btn-light d-inline-block" %>
</div>
